<launch>

  <node pkg="pepper_local_republisher" type="image_republisher_node" name="pepper_front_camera_republisher_node" output="screen">
    <param name="input_image_topic_name"      value="/pepper_robot/camera/front/image_rect_color" />
    <param name="input_image_transport_type"  value="compressed" />
    <param name="output_image_topic_name"     value="/pepper_local_republisher/pepper_robot/camera/front/image_rect_color" />
    <param name="output_image_frame_id_name"  value="CameraTop_optical_frame_republished" />
  </node>

  <node pkg="pepper_local_republisher" type="image_republisher_node" name="pepper_depth_camera_republisher_node" output="screen">
    <param name="input_image_topic_name"      value="/pepper_robot/camera/depth/image_rect" />
    <param name="input_image_transport_type"  value="compressedDepth" />
    <param name="output_image_topic_name"     value="/pepper_local_republisher/pepper_robot/camera/depth/image_rect" />
    <param name="output_image_frame_id_name"  value="CameraDepth_optical_frame_republished" />
  </node>

  <!-- Start openpose_ros -->
  <node pkg="openpose_ros" type="openpose_ros_node" name="openpose_ros_node" output="screen">
    <param name="image_topic"                value="/pepper_local_republisher/pepper_robot/camera/front/image_rect_color" />
    <param name="input_image_transport_type" value="raw" />
    <param name="output_topic"               value="/openpose_ros/human_list" />
    <param name="display_output"             value="true" />
    <param name="print_keypoints"            value="false" />
    <param name="save_original_video"        value="false" />
    <param name="save_openpose_video"        value="false" />
    <param name="original_video_file_name"   value="original_video_output.avi" />
    <param name="openpose_video_file_name"   value="openpose_video_output.avi" />
    <param name="video_fps"                  value="10" />
  </node>

  <node pkg="pepper_demo" name="process_openpose_humans" type="process_openpose_humans.py" output="screen"> 
  </node>

  <node pkg="pepper_demo" name="timestamp_speech" type="timestamp_speech.py" output="screen"> 
  </node>

  <node pkg="pepper_demo" name="pepper_demo_script" type="pepper_demo_script.py" output="screen"> 
  </node>


</launch>